<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order a Pizza</title>
    <style>
        .btn {
            background-color: blue;
            border: none;
            border-radius: 50px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Order Pizza Form</h1>

    {% if note %}
    <h2 style="color: green;">{{ note }}</h2>
    {% endif %}

    {% if created_pizza_pk %}
    <a href="{% url 'edit-order' created_pizza_pk %}" class="btn">Edit Your Order</a>
    {% endif %}

    <div>
        {% comment %} <form action="{% url 'order' %}" method="post" novalidate> {% endcomment %}
            <form action="{% url 'order' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <hr>
                <table>
                    {{ form.as_table }}
                </table>

                <hr>
                <ul>
                    {{ form.as_ul }}
                </ul>

                <hr>
                <ol>
                    {{ form.as_ul }}
                </ol>

                <hr>
                <input type="submit" value="Order Pizza">
            </form>
            <br /><br />
    </div>

    <div>
        <h3>Want more than one pizza?</h3>

        <form action="{% url 'orders' %}" method="get">
            {% csrf_token %}
            {{ multiple_form.as_p }}
            <input type="submit" value="Get Pizzas">
        </form>
    </div>

</body>

</html>