<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Orders</title>
</head>

<body>
    <h1>Make your orders</h1>

    {% if note %}
    <h2 style="color: green;">{{ note }}</h2>
    {% endif %}

    <div>
        <form action="{% url 'orders' %}" method="post">
            {% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
            {{ form.as_p }}
            <br />
            <hr>
            {% endfor %}
            <input type="submit" value="Order Pizzas">
            <a type="button" style="padding: 5px 20px; background: red; border-radius: 50px; color: white; "
                href="{% url 'order' %}">I
                want more
                orders</a>
        </form>
    </div>

</body>

</html>