{% extends 'notes/base.html' %}

{% block content %}
<form method="POST" class="my-5">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if form.errors %}
<div class="alert alert-danger my-5">
    <div><strong>Oops!</strong> Something went wrong.</div>
    {{ form.errors.title.as_text }}
    <div>
        {% for field in form %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endif %}

<a href="{% url 'notes-list' %}" class="btn btn-secondary">Cancel</a>

{% endblock content %}