{% extends "todolist/base.html" %}

{% block title %}
Welcome
{% endblock title %}

{% block content %}
<h2>{{ welcome_text }}</h2>

{% if task.owner == request.user %}

<form method="POST" class="row my-3">
    {% csrf_token %}

    {% if messages %}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

    {% endif %}

    <div class="mb-3">
        <label for="task" class="form-label">Edit Task</label>
        <input type="text" class="form-control" id="task" name="task" value="{{ task.task }}" aria-describedby="textHelp"
            placeholder="{{ task.task }}">
        <div id="textHelp" class="form-text">Make your changes</div>
    </div>
    <div class="mb-3">
        {% comment %} <input type='hidden' name="done" value="{{ task.done }}" /> {% endcomment %}

        <label for="done" class="form-label">Is it Done?</label>
        <select class="form-select" id="done" name="done" aria-label="Default select example">
            <option value=False {% if not task.done %} selected {% endif %}>NO</option>
            <option value=True {% if task.done %} selected {% endif %}>YES</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary my-2">Update TASK</button>
    <a href="{% url 'todolist' %}" class="btn btn-danger my-2">Back</a>
</form>

{% else %}

<h2>Access Denied! You are Not the Owner of this Post!</h2>
<a href="{% url 'todolist' %}" class="btn btn-danger my-2">Go To Your Todolist</a>

{% endif %}

{% endblock content %}