{% extends "todolist/base.html" %}
{% load static %}

{% block title %}
Welcome
{% endblock title %}

{% block content %}
<h2>{{ welcome_text }}</h2>

<div class="text-center">
  <div class="row mt-5">
    <div class="col-lg-4">
      <img src="{% static 'todolist/images/stickynotes-1.jpg' %}" alt='stickynotes' width="360" height="250" class="rounded-lg shadow-lg"></img>
    </div>
    <div class="col-lg-4">
      <img src="{% static 'todolist/images/stickynotes-2.jpg' %}" alt='stickynotes' width="360" height="250" class="rounded-lg shadow-lg"></img>
    </div>
    <div class="col-lg-4">
      <img src="{% static 'todolist/images/stickynotes-3.jpg' %}" alt='stickynotes' width="360" height="250" class="rounded-lg shadow-lg"></img>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
        <p class="h1 text-success">Quick And Easy To Use, Anytime, Anywhere!</p>
        <p class="h2 mt-3">"Plan Your Day Better, Get Your Life Organized"</p>
        <p class="h5">TASKMATE Lets You Keep Track Of Your Task In One Place.</p>
        <a href="{% url 'todolist' %}" type="button" class="btn btn-primary btn-lg mt-3 shadow-lg">Let's Get Started!</a>
    </div>
  </div>
</div>

{% endblock content %}