{% extends "todolist/base.html" %}

{% block title %}
Welcome
{% endblock title %}

{% block content %}
<h2>{{ welcome_text }}</h2>

<form method="POST" class="my-3">
    {% csrf_token %}

    {% if note %}
    <div class="alert alert-success" role="alert">
        {{ note }}
    </div>
    {% endif %}

    <div class="mb-3">
        <label for="task" class="form-label">Add Task</label>
        <input type="text" class="form-control" id="task" name="task" aria-describedby="textHelp"
            placeholder="Call Alex...">
        <div id="textHelp" class="form-text">What would you want to do?</div>
    </div>
    <button type="submit" class="btn btn-primary">ADD TASK</button>
</form>


<table class="table table-light table-striped table-hover table-bordered">
    <thead>
        <tr class="table-dark">
            <th scope="col">Task</th>
            <th scope="col">Done</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in tasks %}
        {% if todo.done %}
        <tr class="table-success">
            <th scope="row">{{ todo.task }}</th>
            <td>YES</td>
            <td><a href="" type="button" class="btn btn-warning btn-sm">Edit</a></td>
            <td><a href="" type="button" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        {% else %}
        <tr>
            <th scope="row">{{ todo.task }}</th>
            <td>NO</td>
            <td><a href="" type="button" class="btn btn-warning btn-sm">Edit</a></td>
            <td><a href="" type="button" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>


{% endblock content %}