{% extends "todolist/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Sign In - Taskmate
{% endblock title %}

{% block content %}

<div>
    <h2>Sign In</h2>
    <form action="{% url 'login' %}" method="POST" class="form-group my-3 col-6">
        {% csrf_token %}

        {% if messages %}
        {% for message in messages %}

        <div class="alert
        {% if message.tags == 'error' %} alert-danger
        {% elif message.tags == 'success' %} alert-success
        {% else %} alert-warning
        {% endif %} alert-dismissible fade show"
        role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
        {% endif %}

        {% if register_form.errors %}
        {% for field in register_form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error|escape }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endfor %}
        {% endif %}

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
        </div>

        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>
{% endblock content %}